div.employee-legend {
	text-align: right;
}

.ui-tabs-vertical {
	width: 100%;
}

.ui-tabs-vertical .ui-tabs-nav {
	padding: .2em .1em .2em .2em;
	float: left;
	width: 16em;
}

.ui-tabs-vertical .ui-tabs-nav li {
	clear: left;
	width: 100%;
	border-bottom-width: 1px !important;
	border-right-width: 0 !important;
	margin: 0 -1px .2em 0;
}

.ui-tabs-vertical .ui-tabs-nav li a {
	display: block;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
	padding-bottom: 0;
	padding-right: .1em;
	border-right-width: 1px;
}

.ui-tabs-vertical .ui-tabs-panel {
	//margin-left: 12em;
	//float: right;
	//width: 40em;
}

div.tab-panel {
	padding-left: 2em;
	float: left;
}

div.fieldset-left {
	margin-right: 4em;
	float: left;
}

div.fieldset-right {
	float: left;
}

div.tab-panel br {
	clear: both;
}

div.tab-panel label {
	font-weight: bold;
	display: block;
}

div.tab-panel input[type="text"] {
	display: block;
}

div#tab-nav h2 {
	text-align: center;
	margin-bottom: 24px;
}

div#employee-buttons {
	margin-top: 24px;
	padding-left: 24px;
	padding-right: 24px;
}

div#employee-buttons div.actions-left {
	float: left;
}

div#employee-buttons div.actions-right {
	float: right;
}

// deals with contrast ratio complaints.
li.ui-state-active {
  background-color: #0074e8 !important;
}

div.accordion h3.ui-state-active {
  background-color: #0074e8 !important;
}

div.tab-panel > div.attachments {
  overflow-x: scroll;
  width: 660px;
}

ul.inline-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    margin-right: 5px;
    display: inline;

    &:not(:last-child):after {
      content: " | ";
      margin-left: 5px;
    }

    a {
      color: #00f;
      text-decoration: underline;
    }
  }
}
