div.search-wrapper {
	font-size: 14px;
	width: 100%;
	overflow: hidden;
}

div.results-found {
	padding-left: 10%;
	font-style: italic;
	float: left;
}

span.fmt-bold {
	font-weight: bold;
	text-decoration: none;
}

div.display-container {
	display: table;
}

div.dsp-container-row {
	display: table-row;
}

div.dsp-container-col {
	display: table-cell;
	padding-left: 45px;
	padding-bottom: 25px;
	width: 20%;
}

div.field {
	padding-bottom: 20px;
}

span.field-title {
	font-weight: bold;
	font-size: 14px;
}

span.field-entry {
	font-size: 12px;
}

div.entries {
	display: table;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}

div.tbl-row {
	display: table-row;
}

/* header */
div.tbl-row div.tbl-col {
	font-weight: bold;
	font-size: 14px;
}

/* alternate colour schema */
a.tbl-row0 {
	display: table-row;
	background-color: #ccf;
	color: #069;
	font-weight: bold;
	font-size: 12px;
}

a.tbl-row1 {
	display: table-row;
	background-color: #069;
	color: #ccf;
	font-weight: bold;
	font-size: 12px;
}

div.tbl-col {
	padding: 6px 6px 6px 6px;
	display: table-cell;
}

div.search {
	text-align: left;
}

/* pagination settings */
div.pagination {
	font-size: 12px;
	font-weight: bold;
	display: block;
	text-align: center;
}

div.pagination span.previous_page {
}

div.pagination span.disabled {
}

div.pagination em.current {
}

div.pagination a {
}

div.pagination a:hover {
}
/* end pagination settings */
