div.search-wrapper {
	font-size: 14px;
	width: 100%;
	overflow: hidden;
}

div.results-found {
	padding-left: 10%;
	font-style: italic;
	float: left;
}

span.fmt-bold {
	font-weight: bold;
	text-decoration: none;
}

div.display-container {
	display: table;
}

div.dsp-container-row {
	display: table-row;
}

div.dsp-container-col {
	display: table-cell;
	padding-left: 45px;
	padding-bottom: 25px;
	width: 20%;
}

div.field {
	padding-bottom: 20px;
}

span.field-title {
	font-weight: bold;
	font-size: 14px;
}

span.field-entry {
	font-size: 12px;
}

div.entries {
	display: table;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}

div.tbl-row {
	display: table-row;
}

/* header */
div.tbl-row div.tbl-col {
	font-weight: bold;
	font-size: 14px;
}

/* alternate colour schema */
a.tbl-row0 {
	display: table-row;
	background-color: #ccf;
	color: #069;
	font-weight: bold;
	font-size: 12px;
}

a.tbl-row1 {
	display: table-row;
	background-color: #069;
	color: #ccf;
	font-weight: bold;
	font-size: 12px;
}

div.tbl-col {
	padding: 6px 6px 6px 6px;
	display: table-cell;
}

div.search {
	text-align: right;
}

/* pagination settings */
div.pagination {
	font-size: 12px;
	font-weight: bold;
	display: block;
	text-align: center;
}

div.pagination span.previous_page {
}

div.pagination span.disabled {
}

div.pagination em.current {
}

div.pagination a {
}

div.pagination a:hover {
}
/* end pagination settings */

/* modify employee record css */

div.employee-legend {
	text-align: right;
}

.ui-tabs-vertical {
	width: 100%;
}

.ui-tabs-vertical .ui-tabs-nav {
	padding: .2em .1em .2em .2em;
	float: left;
	width: 16em;
}

.ui-tabs-vertical .ui-tabs-nav li {
	clear: left;
	width: 100%;
	border-bottom-width: 1px !important;
	border-right-width: 0 !important;
	margin: 0 -1px .2em 0;
}

.ui-tabs-vertical .ui-tabs-nav li a {
	display: block;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
	padding-bottom: 0;
	padding-right: .1em;
	border-right-width: 1px;
}

.ui-tabs-vertical .ui-tabs-panel {
	//margin-left: 12em;
	//float: right;
	//width: 40em;
}

div.tab-panel {
	padding-left: 2em;
	float: left;
  //overflow: auto;
  //height: 300px;
  width: 80%;
}

div.fieldset-left {
	margin-right: 4em;
	float: left;
}

div.fieldset-left-app-branch {
        margin-right: 3.4em;
        float: left;
}

div.fieldset-left-app-org {
        margin-right: 2.2em;
        float: left;
}


div.fieldset-left-app-pay {
        margin-right: 0.4em;
        float: left;
}


div.fieldset-left-app-arpa {
        margin-right: 0.1em;
        float: left;
}


div.fieldset-left-app-grade {
        margin-right: 3.4em;
        float: left;
}


div.fieldset-left-app-unit {
        margin-right: 5.7em;
        float: left;
}


div.fieldset-left-app-title {
        margin-right: 3.4em;
        float: left;
}


div.fieldset-left-app-series {
        margin-right: 4.5em;
        float: left;
}


div.fieldset-left-app-vacancy {
        margin-right: 0.0em;
        float: left;
}


div.fieldset-left-app-lname {
        margin-right: 1.6em;
        float: left;
}


div.fieldset-left-app-title2 {
        margin-right: 1.1em;
        float: left;
}


div.fieldset-left-app-state {
        margin-right: 4.6em;
        float: left;
}


div.fieldset-left-app-wkphone {
        margin-right: 1.3em;
        float: left;
}


div.fieldset-left-app-fname {
        margin-right: 0.9em;
        float: left;
}


div.fieldset-left-app-gender {
        margin-right: 2.7em;
        float: left;
}


div.fieldset-left-app-city {
        margin-right: 4.3em;
        float: left;
}


div.fieldset-left-app-zip {
        margin-right: 4.5em;
        float: left;
}
div.fieldset-left-benefits {
  margin-right: 2.4em;
  float:left;
}

div.fieldset-left-status {
        margin-right: 5em;
        float: left;
}

div.fieldset2-left {
        margin-right: 1em;
        float: left;
}

div.fieldset3-left {
        margin-right: 5em;
        float: left;
        margin-left: 2.5em;
}

div.fieldset4-left {
        margin-right: 7.5em;
        float: left;
}

div.fieldset5-left {
        margin-right: 2em;
        float: left;
}

div.fieldset-right {
	float: left;
}

div.fieldset-center {
        margin-left: 21em;
}

div.fieldset-center2 {
        margin-left: 18em;
}

div.box {
        float: left;
        width: 690px;
        height: 100px;
        padding: 12px;
        border: 3px solid black;
}

div.schedule-left {
        width: 2em;
        float: left;
}

div.schedule-right {
        float:left;
}

div.tab-panel br {
	clear: both;
}

div.tab-panel label {
	font-weight: bold;
	display: block;
}

div.tab-panel input[type="text"] {
	display: block;
}

div#tab-nav h2 {
	text-align: center;
	margin-bottom: 24px;
}

div#employee-buttons {
	margin-top: 24px;
	padding-left: 24px;
	padding-right: 24px;
}

div#employee-buttons div.actions-left {
	float: left;
}

div#employee-buttons div.actions-right {
	float: right;
}

div.accordion {
}

div.accordion h3 {
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 14pt;
  font-weight: bold;
}

div.accordion div.accordion-section {
  width: 100%;
}

/* end modify employee record css */
