@charset "utf-8";
/* menu CSS Document 
 * Used to override supporting CSS style for Bootstrap NAVBAR implementation.
 * - in app/views/layouts/_menu.html.erb
 */
#custom-bootstrap-menu.navbar-default {
    font-size: 12px;
    background-color: rgba(1, 19, 63, 1);
    border-width: 0px;
    border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>a {
    color: rgba(255, 255, 255, 1);
	background-color: rgba(1, 19, 63, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>a.active,
#custom-bootstrap-menu.navbar-default .navbar-nav>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>a:focus {
    color: rgba(255, 255, 0, 1);
    background-color: rgba(1, 19, 63, 1);
}

nav#subnav-group {
	padding-bottom: 0px;
}

nav#subnav-group div.navbar-nav a {
	font-size: 12px;
	background-color: #fff;
	background-image: image-url("/assets/greyfade.png");
	background-repeat: repeat-x;
	background-position: left top;
	border-radius: 8px 8px 0px 0px;
	padding: 8px 8px 0px 8px;
	font-weight: bold;
	color: #00e;
}

nav#subnav-group div.navbar-nav a:hover {
	font-weight: bolder;
	text-decoration: none;
}

nav#subnav-group div.navbar-nav a.subnav-active {
	font-size: 12px;
	background-color: #fff;
	background-image: image-url("/assets/greyfade.png");
	background-repeat: repeat-x;
	background-position: left top;
	border-radius: 8px 8px 0px 0px;
	padding: 8px 8px 0px 8px;
	font-weight: bold;
	color: #000;
}

nav#subnav-group div.navbar-nav a.subnav-active:hover {
	text-decoration: none;
}
