/* begin report search header */
div.report-search-header {
  margin-left: 8em;
  font-family: Arial, Helvetica, sans-serif;
}

div.report-search-header div.group {
  margin-bottom: 20px;
}

div.report-search-header div.group div.subtext {
  display: inline;
}

div.report-search-header label.title {
  font-weight: bold;
  font-size: 14px;
  width: 20%;
}

div.report-search-header div.group legend {
  font-weight: bold;
  font-size: 14px;
  width: 20%;
  display: inline;
}

div.report-search-header select {
  width: 40%;
}

div.report-search-header input[type=text] {
  width: 25%;
}

div.report-search-header div.group label.radio-tag {
  margin-right: 15px;
  font-weight: bold;
}

div.report-search-header div.padded-group {
  padding-left: 21%;
  margin-bottom: 0%;
  padding-bottom: 0%;
}

div.report-search-header div.padded-group label {
  font-weight: bold;
  width: 33%;
}

div.report-search-header div.button {
  text-align: right;
}

div.report-search-header div.button button {
  margin: 10px;
  line-height: 20px;
  background: inherit;
  background-color: #000921;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  border: 1px solid #07256f;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: 'Arial Bold', 'Arial Regular', 'Arial';
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: #fff;
}
/* end report search header */

/* tabs */
div.ui-tabs-panel h2 {
  text-align: center;
}

div.tab-panel {
  margin-top: 2em;
  padding-left: 2em;
  float: left;
}
/* end tabs */
