<% title "BVA Resource Management System - Edit Applicant" %>
<% page_header "Edit Applicant - #{@applicant.lname}, #{@applicant.fname}" %>

<div id="content" class="container">
  Edit page for <%= @applicant.fname -%> <%= @applicant.lname -%><br>
</div>
