<%= javascript_tag do %>

	var	exportRecs = JSON.parse('<%=raw j @exportXLS.to_json %>');
	var	tblTotals = JSON.parse(('<%=raw j @ttls.to_json %>'));
	var shType = '<%= j @shType.to_s %>'

	var expTbl = $('<table></table>');
	var tblData = [];
	var tblContent = [];

	var processResults = function(){
		var d = $.Deferred();

		//This function allows us to sort an array that is containing objects by using the object's key names
		function sort_by(field, reverse, primer){
		   var key = function (x) {return primer ? primer(x[field]) : x[field]};
		   return function (a,b) {
			  var A = key(a), B = key(b);
			  return ( (A < B) ? -1 : ((A > B) ? 1 : 0) ) * [-1,1][+!!reverse];                  
		   }
		}

		$.each(exportRecs, function(name,data){
			var obj = {
				ro:  data["staID"] + "-" + data["ro"]["city"],
				ttlPending: data["ttlPending"],
				bfDocDate: data["bfDocDate"],
				fyCol: data["fyCol"]
			}
			tblData.push(obj);
		});

		tblData.sort(sort_by('bfDocDate', false, parseInt))
		return d.resolve().promise();
	};
	
	$.when(processResults()).then(function(){
		tblContent.push("<tr>")
		tblContent.push("<th>Regional Office</th>")
		tblContent.push("<th>Type</th>")
		tblContent.push("<th>Total Pending</th>")
		tblContent.push("<th>Pending (Pre " + $('#docdate').val() + " )</th>")
		tblContent.push("<th>Percentage</th>")
		tblContent.push("<th>Pre-FY2000</th>")
		tblContent.push("<th>FY01-05</th>")
		tblContent.push("<th>FY06-10</th>")
		tblContent.push("<th>FY11-15</th>")
		tblContent.push("<th>FY16</th>")
		tblContent.push("<th>FY17</th>")
		tblContent.push("</tr>")
	}).then(function(){
		for(j = 0 ; j < tblData.length ; j++){
			tblContent.push("<tr>")
			tblContent.push("<td>" + tblData[j]["ro"] +"</td>");
			tblContent.push("<td>" + shType + "</td>");
			tblContent.push("<td>" + tblData[j]["ttlPending"] +"</td>");
			tblContent.push("<td>" + tblData[j]["bfDocDate"] +"</td>");
			tblContent.push("<td>"+ ((tblData[j]["bfDocDate"] / tblTotals["bfDocDate"])*100).toFixed(1) +"%</td>");
			for(i=0; i<(tblData[j]["fyCol"].length); i++){
				tblContent.push("<td>" + tblData[j]["fyCol"][i] +"</td>");
			}
			tblContent.push("</tr>")
		}
	}).then(function(){
		tblContent.push('<tr class="rptTotals">');
		tblContent.push("<td></td>");
		tblContent.push("<td>Totals</td>");
		tblContent.push("<td>" + tblTotals["ttlPending"] +"</td>");
		tblContent.push("<td>" + tblTotals["bfDocDate"] +"</td>");
		tblContent.push("<td></td>");
		for(i=0; i<(tblTotals["fyCol"].length); i++){
			tblContent.push("<td>" + tblTotals["fyCol"][i] +"</td>");
		}
		tblContent.push("</tr>");
	}).then(function(){
		expTbl.append(tblContent.join(''));
	}).then(function(){
		expTbl.table2excel({
			name: "ExportDocketReport",
			filename: "ExportDocketReport"
		});
	});
<% end %>