<div id="content" class="container">
<form method="POST" action="analysis">
		Analysis Page
		<%= button_tag('Submit', type: 'submit', class: 'rptButton', name: 'Submit', id:'btnSubmit') %>
</form>
</div>