<% provide(:title, "Request Reports") %>
<% provide(:main, "Appeals Hearing Scheduling") %>
<h1>Reports</h1>
<h2>Docket Range: <%= @docdate %></h2>

<!-- show all output -->
<% @result.each do |res| %>
	<p>
		<%= res %>
	</p>
<% end %>

<!-- show by city and number of hearings -->
<% @output.each do |key,array| %>
	<p>
		<%= key %>
		<%= array.size + 1%>
	</p>
<% end %>
