$('#flash-alert').remove();
$('<div class="flash-banner alert alert-info" id="flash-alert"></div>').insertAfter('#subheader')
$('#flash-alert').append("<%= flash[:notice] || '' %>")

<% flash.clear %>

$('#attach-files #at<%= params[:id] %>').remove();

window.scrollTo(0,0);
$('#flash-alert').fadeOut(5000);
