<%= javascript_include_tag 'reports.tab.js' %>

<h2>Workforce Planning Report</h2>

<div class="report-search-header">
</div>

<div class="workforce-rpt-table table" role="presentation">
  <div class="tbl-row" role="row">
    <div class="tbl-col" role="columnheader">Office/Division</div>
    <div class="tbl-col" role="columnheader">FTE</div>
    <div class="tbl-col" role="columnheader">On-Board</div>
    <div class="tbl-col" role="columnheader">Other*</div>
    <div class="tbl-col" role="columnheader">Funded Positions</div>
    <div class="tbl-col" role="columnheader">Unfunded Positions</div>
    <div class="tbl-col" role="columnheader">Total Incoming</div>
    <div class="tbl-col" role="columnheader">Total Departing</div>
  </div>

  <%- @offices.order('name ASC').each do |office| -%>
    <%- office_id = "o#{office.id}" -%>
    <%= render partial: 'rms/reports/workforce/row', locals: { section: office, section_id: office_id, belongs_to: nil } -%>
    <%- office.divisions.order('name ASC').each do |division| -%>
      <%- division_id = "d#{division.id}" -%>
      <%= render partial: 'rms/reports/workforce/row', locals: { section: division, section_id: division_id, belongs_to: office_id } -%>
      <%- division.branches.order('name ASC').each do |branch| -%>
        <%- branch_id = "b#{branch.id}" -%>
        <%= render partial: 'rms/reports/workforce/row', locals: { section: branch, section_id: branch_id, belongs_to: division_id } -%>
      <%- end -%>
    <%- end -%>
  <%- end -%>
</div>
