$('#flash-alert').remove();
$('<div class="flash-banner alert alert-info" id="flash-alert"></div>').insertAfter('#subheader')

$('#flash-alert').append("<ul>")
<% (flash[:error] || {}).each do |key, err| %>
  $('#flash-alert').append('<li><%= key %>: <%= err %></li>')
<% end %>
$('#flash-alert').append('</ul>')

<% flash.clear %>

window.scrollTo(0,0);
