		
		
    <div class="fieldset-left" id="primary_info">
      <div class= "fieldset-left">
        <%= label_tag :room_number, "Room Number:", class: 'title' %>
        <%= text_field_tag :room_number, @employee.assignment.room_number, name: 'assignment[room_number]' %>
      </div>
    </div>
		
