<br /><br />
<div class="fieldset-left">
	<%= label_tag :onboard_date, "Onboard Date:" %>
	<%= text_field_tag :onboard_date,"", size: 25, name: 'status[appointment_onboard_date]' %>
</div>
<br /><br />
<div class="fieldset-left">
	<%= label_tag :notes, "Notes:" %>
	<%= text_area_tag :notes, "", size: "93x3", name: 'status[appointment_notes]' %>
</div>

