<br /><br />
<div class="fieldset-left">
	<%= label_tag :promotion_date, "Promotion Effective Date:" %>
	<%= text_field_tag :promotion_date, "",  name: 'status[promotion_date]' %>
</div>
<br /><br />

<div class="fieldset-left">
	<%= label_tag :promotion_notes, "Notes:" %>
	<%= text_area_tag :promotion_notes, "", size: "93x3", name: 'status[promotion_notes]' %>
</div>

