<h2>Employee Records</h2>

<div class="tab-panel">
  <div class="attachments">
    <table cellpadding="10" class="table table-condensed employee-attachments">
      <thead>
        <tr>
          <th id="atchhdr_actions">Actions</th>
          <th id="atchhdr_date">Date</th>
          <th id="atchhdr_type">Type</th>
          <th id="atchhdr_filename">Filename</th>
          <th id="atchhdr_notes">Notes</th>
        </tr>
      </thead>
      <tbody id="attach-files">
        <%= render partial: '/rms/employee/attachment/upload' %>
        <% @employee.attachments.each do |attachment| %>
          <tr id="at<%= attachment.id %>">
            <%= render partial: '/rms/employee/attachment/show', locals: { attachment: attachment } %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
