<div id="header"><span><%= image_tag('header-logo.png', alt:'VA Header Logo')%></span></div>
<div id="subheader"><span><%= label_tag( nil, 'Veterans\' Appeals Hearing Schedule (VAHS)', alt:'Veterans\' Appeals Hearing Schedule (VAHS)')%></span></div>
