      <nav id="custom-bootstrap-menu" class="navbar navbar-default" role="navigation">
        <div class="nav navbar-nav">
	  <%= link_to "Home", root_path, class: nav_class(root_path), alt: "Navigate to Home" %>
	  <%= link_to "Docket Reports", docket_path, class: nav_class(docket_path), alt: "Navigate to Docket Reports" %>
	  <%= link_to "FY Analysis", analysis_path, class: nav_class(analysis_path), alt: "Navigate to FY Analysis" %>
        </div>
      </nav>
