      <nav id="custom-bootstrap-menu" class="navbar navbar-default" role="navigation">
        <div class="nav navbar-nav">
	  <%# link_to "Home", root_path, class: nav_class('base#*'), alt: "Navigate to Home" %>
	  <%# link_to "Docket Reports", docket_path, class: nav_class('docket#*'), alt: "Navigate to Docket Reports" %>
	  <%# link_to "FY Analysis", analysis_path, class: nav_class('analysis#*'), alt: "Navigate to FY Analysis" %>
	  <%# link_to "HR", hr_path, class: nav_class('hr#*'), alt: "Navigate to HR page" %>
        </div>
      </nav>
