<nav id="custom-bootstrap-menu" class="navbar navbar-default" role="navigation">
  <div class="nav navbar-nav">
      <a id='nav_home' class="nav-item nav-link" href="/">Home</a>
      <a id='nav_docket' class="nav-item nav-link" href="docket">Docket Reports</a>
      <a id='nav_analysis' class="nav-item nav-link" href="analysis">FY Analysis</a>
      <a id='nav_about' class="nav-item nav-link" href="about">About</a>
  </div>
</nav>