
module passenger-agent 1.0;

require {
	type httpd_t;
	type cert_t;
	class capability { sys_ptrace sys_resource };
	class file write;
	class capability2 block_suspend;
}

#============= httpd_t ==============
allow httpd_t cert_t:file write;

#!!!! This avc can be allowed using one of the these booleans:
#     httpd_run_stickshift, httpd_setrlimit
allow httpd_t self:capability sys_resource;
allow httpd_t self:capability sys_ptrace;
allow httpd_t self:capability2 block_suspend;
