<% title " - Travel Board" %>
<div class="rptResultsHeader">Travel Board Allocation Analysis</div>
<table class="table table-condensed">
	<thead class="thead-inverse">
		<tr>
			<th>Regional<br/>Office</th>
			<th class="cntrAlign">Total<br/>Pending</th>
			<th class="cntrAlign">Pending<br/>(Pre <%= params[:docdate] %> )</th>
			<th class="cntrAlign">Percentage</th>
			<th class="cntrAlign">TBD</th>
			<th class="cntrAlign">TBD</th>
			<th class="cntrAlign">TBD</th>
		</tr>
	</thead>
	<tbody>
	
		<tr>
			<td>RO Name</td>
			<td class="rghtAlign">##</td>
			<td class="rghtAlign">##</td>
			<td class="rghtAlign">%%</td>
			<td class="cntrAlign">??</td>
			<td class="cntrAlign">??</td>
			<td class="cntrAlign">??</td>
		</tr>

	
	
		<tr class="rptTotals">
			<td>Totals</td>
			<td class="rghtAlign">###</td>
			<td class="rghtAlign">###</td>
			<td class="rghtAlign"></td>
			<td class="rghtAlign"></td>
			<td class="cntrAlign"></td>
			<td class="cntrAlign"></td>
		</tr>
	</tbody>
</table>

